.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  margin: 5px;
  min-width: 300px;
  width: 300px;
}

.card-text {
  margin-bottom: 0.5rem;
}
