.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 256px;
}

.card {
  margin: 10px;
}

