.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 10px;
}

input[type='text'] {
  min-width: 250px;
  padding: 5px;
  font-size: 14px;
}

canvas {
  border: 1px solid;
}
